:root {
    --main-color: #ff5500;
}

* {
    font-family: sans-serif;
}

html {
    background-color: black;
    color: white;
    text-align: center;
  }

a {
    color: red;
}

hr {
    color: var(--main-color)
}

.section {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    background-color: #050505;
    color: white;
    text-align: left;
}

.mainmatter {
    background-color: #111111;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

button {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 1px;
    background-color: #232323;
    color: white;
    border: 1px solid black;
}
  
button:hover {
    background-color: #151515;
}
button:active {
    background-color: #111111;
}

.inline_container {
    border:1px solid black;
    border-radius:5px;
    padding:1px;
    margin:4px;
    display: inline-grid;
    background-color:#232323;
}
.inline_container:hover {
  background-color:#111111;
}

.inline_container:active {
  background-color:black;
}

.guestbook-text {
    all:unset;
    min-width: 50%;
    min-height: 200px;
    text-align: left;
    background-color: #222222;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 5px;
    display: inline;
    white-space:pre-wrap;
}

.guestbook-text:focus {
    background-color: #262626;
}

.guestbook-name {
    all:unset;
    text-align:left;
    background-color: #222222;
    border: 1px solid #ff5500;
    border-radius: 5px;
    min-height: 24px;
    padding: 5px;
    display: inline;
}
.guestbook-name:focus {
    background-color: #262626;
}


.common-table {
    display:inline-block;
    border:1px solid white; 
    padding:5px;
    border-collapse: collapse;
}

.common-table-row {
    border-top: 1px solid white;
}

.common-table-element {
    padding: 4px;
    width: 100px;
    text-align: left;
    overflow-x:scroll;
}